<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">About</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
          {% endfor %}

	  <a class="sidebar-nav-item" href="{{ site.url }}blog/index.html">Blog</a>
          <a class="sidebar-nav-item" href="https://github.com/kirstengott">GitHub</a>
          <a class="sidebar-nav-item" href="http://planaria.stowers.org/">S&aacutenchez Lab</a>
          <a class="sidebar-nav-item" href="{{ site.url }}cv-website.pdf">CV</a>

  </nav>

  <!-- <div class="sidebar-item"> -->
  <!--   <p> -->
  <!--     &copy; {{ site.time | date: '%Y' }}. All rights reserved. -->
  <!--   </p> -->
  </div>
</div>
